.jumbotron {
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-image: url("../images/shoot.jpg");
  height: 100vh;
  overflow: hidden;
}

.text {
  padding-top: 20rem;
}

/*fix photo alignment, different photo?*/
.banner {
  height: 34rem;
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-image: url("../images/shoot.jpg");
  overflow: hidden;
}

.container {
  padding: 1rem;
}
