
.jumbotron {
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-image: url("../images/shoot.jpg");
  height: 100vh;
  overflow: hidden;
}

.text {
  padding-top: 20rem;
}

/*fix photo alignment, different photo?*/
.banner {
  height: 34rem;
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-image: url("../images/shoot.jpg");
  overflow: hidden;
}

.container {
  padding: 1rem;

}

.photo img {
  width: 35%;
  height: auto;
  padding: 2rem;
  float: left;
}

.bar {
  background-color: hsl(257, 24%, 47%);
  height: 8rem;
  text-align: center;
  color: white;
  padding-top: .15rem;
}


.wine {
  background-color: #7D3F7C;
  color: lightgrey;
  display: flex;
  border-bottom: 2px lightgrey solid;
}

.blog {
  background-color: #D27497;
  display: flex;
  border-bottom: 2px lightgrey solid;
}

p {
  font-size: 1.5rem;
}

footer {
  background-color: hsl(257, 24%, 47%);
  justify-content: center;
   display: flex;
   text-align: center;
   padding: 10px;
   color: white;
}
